.form-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-right: 20px;
  
}
.form-group {
  margin-bottom: 15px;

}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input, select {
  width: 200px;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="checkbox"] {
  width: auto;
  margin-left: 10px;
}

button {
  display: block;
  width: 20%;
  margin-left: 340px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-text {
  color: red;
  font-size: 0.875em;
  margin-top: -5px;
}
